<form [formGroup]="userForm">


  <div class="icone">
    <img src="../../../assets/icones/SVG/logo2.svg" alt="" class="logo">
    <img src="../../../assets/icones/SVG/typo.svg" alt="" class="title">
  </div>

  <div class="formGroup">
    <label class="form-label" for="email"><i class="bi bi-envelope-at"></i> </label>
    <input class="form-control" type="email" formControlName="email" placeholder="E-mail">
    <div *ngIf="email.dirty && email.hasError('required') ">
      <p class="error"> Ce champs est obligatoire !</p>
    </div>
    <div *ngIf="email.dirty && email.hasError('email') ">
      <p class="error"> Ce champs doit être un email valide !</p>
    </div>
  </div>


  <div class="formGroup">
    <label class="form-label" for="password"><i class="bi bi-lock"></i> </label>
    <input class="form-control" type="password" formControlName="password" placeholder="Mot de passe">
    <div *ngIf="password.dirty && password.hasError('required') ">
      <p class="error"> Ce champs est obligatoire !</p>
    </div>
  </div>

  <button type="submit" [disabled]="!userForm.valid" (click)="onSubmit()">Connexion</button>
  <button [routerLink]="['/signup']">Inscription</button>
</form>
