.email{
    position: absolute;
    width: 277px;
    height: 60px;
    top: 442px;
    left: 66px;
    border-radius: 20px;


}


.motdepasse{
    position: absolute
    width:277px;
    height: 60px;
    top: 525px;
    left: 66px;
}


.connexion{

    position: absolute
    width:277px;
    height: 60px;
    top: 602px;
    left:66px;

}
.inscription{
    position: absolute
    width:277px;
    height: 60px;
    top: 706px;
    left: 66px;
}
