.email{
    position: absolute;
    width: 277px;
    height: 60px;
    top: 442px;
    left: 66px;
    border-radius: 20px;


}

// on donne une classe boutton a tous les bouttons de la page login
@mixin  login-button{
    width:277px;
    height: 60px;

}




