<app-search></app-search>

<div class="moment-service">
    <h2>Les services du moment</h2>

    <div class="carousel">

        <div class="column-1">
            <div [routerLink]="['/result']" class="item">
              <img src="../../../assets/icones/SVG/aide_sante.svg" alt="" class="home-img">
              <h3>Santé</h3>
            </div>
            <div class="item">
              <img src="../../../assets/icones/SVG/animaux.svg" alt="" class="home-img">
              <h3>Animaux</h3>
            </div>
        </div>
        <div class="column-2">
            <div class="item">
                  <img src="../../../assets/icones/SVG/bricolage.svg" alt="" class="home-img">
                <h3>Bricolage</h3>
            </div>
            <div class="item">
              <img src="../../../assets/icones/SVG/informatique.svg" alt="" class="home-img">
                <h3>Informatique</h3>
            </div>
        </div>
        <div class="column-3">
            <div class="item">
              <img src="../../../assets/icones/SVG/scolarite.svg" alt="" class="home-img">
                <h3>Scolarité</h3>
            </div>
            <div class="item">
              <img src="../../../assets/icones/SVG/transport.svg" alt="" class="home-img">
                <h3>Mecanique</h3>
            </div>
        </div>
        <div class="column-4">
            <div class="item">
              <img src="../../../assets/icones/SVG/travaux.svg" alt="" class="home-img">
                <h3>Travaux manuel</h3>
            </div>
            <div class="item">
              <img src="../../../assets/icones/SVG/autre.svg" alt="" class="home-img">
                <h3>Autre</h3>
            </div>
        </div>
    </div>

    <div class="icon-add">

      <i class="bi bi-plus-square" [routerLink]="['/create']"></i>
    </div>
</div>
