/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --color-text : black;
    --color-text-secondary : white;
    --primary-color : #00B4F5;
    --secondary-color : #E7EB90;
    --margin-global : 5px;

}

@mixin sizeBtn {
    width: 277px;
    height: 60px;
}

@mixin input {
    width: 70%;
    border-color: var(--primary-color);
    border-radius: 20px;
}

@mixin btn {
    height: 60px;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    border-radius: 20px ;
    border: none;
    font-size: 25px;
    font-weight: bold;
}
