<div class="card contact" >
    <i class="bi bi-star"></i>
    <div class="">
        <h3>{{service?.usernameUser}} - {{service?.createAt | date:"shortDate" }} </h3>
    </div>
    <div class="categorie">
      <div class="" *ngFor="let item of service?.givenService| keyvalue">
          <h4 *ngIf="item.key == 'categorie'"><i class="bi bi-arrow-up"></i> {{item.value}}</h4>
      </div>
      <div class="" *ngFor="let item of service?.requestService| keyvalue">
          <h4 *ngIf="item.key == 'categorie'"><i class="bi bi-arrow-down"></i> {{item.value}}</h4>
      </div>
    </div>
    <textarea type="text" class="form-control" placeholder="Bonjour, je vous contacte concernant votre annonce ..."></textarea>
    <button >Envoyer</button>
</div>
