<div class="create">
    <div class="givenService">
      <label for="givenService" class="form-label">Quel service proposez-vous ? </label>
      <div class="textarea">
            <i class="bi bi-arrow-up"></i><textarea type="text" class="form-control" id="givenService" placeholder="Decrivez le service ..."></textarea>
        </div>
        <input type="text" class="form-control" placeholder="bricolage, déménagement, informatique ...">
    </div>

    <div class="requestService">
      <label for="requestService" class="form-label">De quel service avez-vous besoin ? </label>
      <div class="textarea">
            <i class="bi bi-arrow-down"></i><textarea type="text" class="form-control" id="requestService"
              placeholder="Decrivez le service ..."></textarea>
        </div>
        <input type="text" class="form-control" placeholder="bricolage, déménagement, informatique ...">
    </div>

    <button>Terminer</button>

</div>
