@import "../../../styles.scss";

.search {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;

    label {
        font-weight: 500;
        font-size: 20px
    }

    input {
        @include input;
    }
}
