<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="title-div">
        <img src="../../../assets/icones/SVG/typo.svg" alt="">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="myprofil">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="404">Messagerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="404">Ma liste d'annonce</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" id="logout" (click)="authService.logout()">Deconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
