@import "../../../styles.scss";

.navbar {
    background: linear-gradient(to left top, var(--secondary-color), var(--primary-color));
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;

    .title-div {
      height: 120px;
      display: flex;
      align-items: center;

      img {
        height: 20px;
      }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 29px;
        line-height: 34px;
    }

    .nav-link{
      text-align: center;
      font-weight: 800;
      font-size: 35px;
      line-height: 41px;
      color: var(--color-text-secondary);

    }
    #logout {
        color: var(--color-text);
    }
}
