@import "../../../styles.scss";

.navbar {
    background: linear-gradient(to left top, var(--secondary-color), var(--primary-color));

    .title-div {
        height: 140px;
        display: flex;
        align-items: center;
    }

    .title {
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 34px;
    }

    .nav-link{
      text-align: center;
      font-weight: 800;
      font-size: 35px;
      line-height: 41px;
      color: var(--color-text-secondary);

    }
    #logout {
        color: var(--color-text);
    }
}
